.App {
  background-color: #eee;
  width: 100%;
  height: 100%;
}
.conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteudo--banner{
  background: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 649px;
  margin-top: 125px;
  margin-bottom: 45px;
}
.conteudo--banner img{
  box-shadow: 4px 2px 18px rgba(0, 0, 0, 0.521);
  margin: 13px;
  width: 280px;
  height: 69%;
}
.conteudo--price{
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteudo--price img{
  border-radius: 23px;
  background: #00c206;
  height: 65px;
  width: 65px;
}
.conteudo--price img:hover{
  cursor: pointer;
  background: #84ff88;
}
.conteudo--descri{
  width: 55%;
  height: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conteudo--descri strong{
  font-family: Roboto forte;
}
.conteudo--titulo{
  padding-left: 145px;
  width: 100%;
  height: 56px;
}

.conteudo--lista{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.conteudo--lista--item{
  transform-style: preserve-3d;
  background-color: white;
  box-shadow: 2px 2px 18px rgb(0 0 0 / 27%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease 0.2s;
  scale: 0.9;
  width: 223px;
  height: 325px;
  margin: 34px;
}
.conteudo--lista--item:hover{
  transform: perspective(2000px);
  scale: 1;
}.conteudo--lista--item:hover > h3{
  opacity: 1;
}
.conteudo--lista--item:hover{
  scale: 1;
}
.conteudo--lista--thumb{
  transition: 0.5s;
  transform-origin: left;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}
.conteudo--lista--item:hover> .conteudo--lista--thumb{
  cursor: grab;
  transition: 1s;
  z-index: 200;
  transform: rotateY(-135deg);
}
.conteudo--lista--item:hover{
  box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.562);
}
.conteudo--lista--item:hover> .conteudo--lista--thumb img{
  border: 4px solid white;
  box-shadow: inset 6px 6px 18px rgba(0, 0, 0, 0.849), 5px 5px 17px rgba(0, 0, 0, 0.884);
}
.conteudo--lista--item:hover> .conteudo--lista--thumb{
  box-shadow: inset 6px 6px 18px rgba(0, 0, 0, 0.849);
}
.conteudo--lista--descri{
  position: absolute;
  height: 90%;
  width: 100%;
}
.conteudo--lista--descri p{
  margin-top: 34px;
  max-height: 89%;
  font-size: 19px;
  overflow-y: auto;
}
.conteudo--lista--item img{
  height: 100%;
  width: 100%;
}
.conteudo--lista--item .titulo{
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  font-family: Roboto forte;
  padding-top: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}
.conteudo--lista--item h3{
  background-color: rgba(0, 0, 0, 0.589);
  padding: 12px;
  transition: all ease 0.2s;
  opacity: 0;
  font-size: 12px;
  text-align: justify;
  width: 100%;
  height: 100%;
  color: white;
}
.conteudo--item--price{
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;
  align-items: center;
}
.conteudo--item--price h2{
  font-family: Roboto forte;
  color: rgb(49, 170, 12);
}
.conteudo--item--price img{
  background: #00c206;
  height: 80%;
  width: 17%;
  border-radius: 6px;
}
.conteudo--item--price img:hover{
  cursor: pointer;
  background: #84ff88;
}
.conteudo--criadores{
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
}
.conteudo--criadores h2{
  font-size: 50px;
  font-weight: 900;
}
.conteudo--criadores h3{
  width: 47%;
  height: 107px;
  font-size: 17px;
}
.conteudo--curiosidade{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 1157px;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(28, 17, 56)) ;
}
.conteudo--curiosidade .descri{
  margin-bottom: 82px;
  text-align: center;
  width: 70%;
}
.conteudo--curiosidade .voce-sabia{
  height: 112px;
  font-size: 70px;
}
.conteudo--curiosidade--fotos{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.conteudo--curiosidade--fotos .container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 349px;
}
.conteudo--curiosidade--fotos .container p{
  font-size: 17px;
  width: 80%;
}
@media screen and (max-width: 700px){
  .conteudo--banner{
    flex-direction: column;
  }
  .conteudo--descri{
    text-align: center;
    width: 80%;
    justify-content: center;
  }
  .conteudo--titulo {
    margin-top: 23px;
    padding: 0;
  }
  .conteudo--titulo h2{
    text-align: center;
  }
  .conteudo--banner {
    height: 1084px;
  }
  .conteudo--descri .descri{
    margin-top: 19px;
    margin-bottom: 19px;
    max-height: 240px;
    overflow-y: auto;
  }
  .conteudo--curiosidade--fotos{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .conteudo--curiosidade--fotos .container{
    height: 1245px;
  }
  .conteudo--curiosidade--fotos .container {
    width: 100%;
  }
  .conteudo--curiosidade .voce-sabia {
    height: 95px;
    font-size: 50px;
  }
  .conteudo--curiosidade .descri {
    text-align: justify;
    width: 80%;
    margin-bottom: 30px;
  }
  .conteudo--curiosidade{
    height: 2042px;
  }
}