.book{
  transform-style: preserve-3d;
  background-color: white;
  box-shadow: 2px 2px 18px rgb(0 0 0 / 27%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease 0.2s;
  scale: 0.9;
  width: 233px;
  height: 335px;
  margin: 6px;
}
.book:hover{
  transform: perspective(2000px);
  scale: 0.9;
}.book:hover > h3{
  opacity: 1;
}
.book:hover{
  scale: 0.9;
}
.book:hover> .book--thumb{
  cursor: grab;
  transition: 1s;
  z-index: 200;
  transform: rotateY(-135deg);
}
.book:hover{
  box-shadow: inset 3px 3px 12px rgba(0, 0, 0, 0.562);
}
.book:hover> .book--thumb img{
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  border-left: none;
  box-shadow: inset 6px 6px 18px rgb(0, 0, 0, 0.85), 11px 5px 30px 11px rgb(0, 0, 0, 0.88);
}
.book:hover> .book--thumb{
  box-shadow: inset 6px 6px 18px rgba(0, 0, 0, 0.849);
}
.book img{
  border: 4px solid white;
  height: 100%;
  width: 100%;
}
.book .titulo{
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  font-family: Roboto forte;
  padding-top: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 19px;
}
.book h3{
  background-color: rgba(0, 0, 0, 0.589);
  padding: 12px;
  transition: all ease 0.2s;
  opacity: 0;
  font-size: 12px;
  text-align: justify;
  width: 100%;
  height: 100%;
  color: white;
}
.book--thumb{
  transition: 0.5s;
  transform-origin: left;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}
.book--descri{
  position: absolute;
  height: 90%;
  width: 100%;
}
.book--descri p{
  padding: 11px;
  font-weight: bold;
  margin-top: 34px;
  max-height: 89%;
  font-size: 19px;
  overflow-y: auto;
}