header{
    transition: all ease 0.2s;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    position: fixed;
    background: rgba(237, 28, 35, 0);
    color: white;
}
header.exibir{
    background: black;
}
header .logo{
    height: 70%;
    width: 150px;
}
header .logo:hover{
    cursor: pointer;
}
header .escudo{
    margin-right: 23px;
    width: 55px;
    height: 55px;
}