html::-webkit-scrollbar{
  background: white;
  width: 10px;
}
html::-webkit-scrollbar-corner{
  display: none;
}
html::-webkit-scrollbar-thumb{
  border-radius: 12px;
  background: rgba(43, 43, 43, 0.253);
  height: 223px;
}
@font-face {
  font-family: Ealing;
  src: url("./font/Ealing.otf");
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url('./font/Avenir\ Light.ttf');
}
@font-face {
  font-family: Recoleta;
  font-weight: 100;
  src: url('./font/Recoleta-Bold.ttf');
}
@font-face {
  font-family: Roboto;
  font-weight: 200;
  src: url('./font/Avenir\ Regular.ttf');
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url('./font/Avenir\ Black.ttf');
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('./font/Avenir\ Heavy.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: Roboto;
}
